<!doctype html>
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>{% block title %}{% endblock %} - Flax </title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<div class="container main">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand flex-grow-1" href="{{ url_for('index') }}">Flax</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          {% if g.user %}
            <li class="nav-item">
              <span class="nav-link">{{ g.user['username'] }}</span>
            </li>
            {% if g.user['username'] == 'admin' %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('admin.index') }}">Panel</a>
              </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('shop.cart') }}">Cart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('shop.history') }}">History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.login') }}">Log In</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <header>
      {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages(with_categories=True) %}
      {% if message[0] == 'error' %}
        <div class="error">{{ message[1] }}</div>
      {% elif message[0] == 'message' %}
        <div class="message">{{ message[1] }}</div>
      {% endif %}
    {% endfor %}
    <div class="container content">
      {% block content %}{% endblock %}
    </div>
  </div>
</div>
